body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#reset {
    border: 1px solid black;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    margin: 25px;
    text-align: center;
    background: darkgrey;
    cursor: pointer;
    transition: background 0.5s;
    /* transition: color 0.5s; */
}

#reset:hover {
    background: #696969;
}

#palette {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 1px solid black;
}

#colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#colors div {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}

#red {
    background: rgb(255, 0, 0);
}

#green {
    background: rgb(0, 255, 0);
}

#blue {
    background: rgb(0, 0, 255);
}

#yellow {
    background: rgb(255, 255, 0);
}

@media screen and (max-width: 500px) {
    #colors {
        flex-direction: column;
    }
}